<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="widgetOptions.cancel()">&times;</button>
  <h3>Custom Settings Dialog for <small>{{widgetOptions.title}}</small></h3>
</div>
<div class="modal-body">
  <form name="form" novalidate class="form-horizontal">
    <div class="form-group">
      <label for="widgetTitle" class="col-sm-2 control-label">Title</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="widgetTitle" ng-model="widgetOptions.title">
      </div>
    </div>
    <div class="form-group">
<!--         <div class="col-sm-10">
            <label for="start">Start Date:</label>
            <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="widgetOptions.start" is-open="widgetOptions.startOpened" min-date="widgetOptions.minDate" max-date="{{maxDate}}" datepicker-options="widgetOptions.dateOptions" date-disabled="widgetOptions.disabled(date, mode)" ng-required="true" close-text="Close" />
            <button type="button" class="btn btn-default start-date" ng-click="widgetOptions.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>            
        </div> -->
    </div>
    <div class="form-group">
<!--         <div class="col-sm-10">
            <label for="end">End Date:</label>
            <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="$parent.end" is-open="widgetOptions.endOpened" min-date="widgetOptions.minDate" max-date="{{maxDate}}" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
            <button type="button" class="btn btn-default end-date" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>            
        </div> -->
    </div>
    <div class="form-group">
            <div class="col-sm-10">
                <label for="end">Amazon Region:</label>
                <select data-ng-options="region.friendly for region in widgetOptions.regions" data-ng-model="widgetOptions.selectedRegion"></select>           
            </div>

    </div>
    <div class="form-group">
            <div class="col-sm-10">
                <label for="end">Data Interval:</label>
                <select data-ng-options="interval.friendly for interval in widgetOptions.intervals" data-ng-model="widgetOptions.selectedInterval"></select>     
            </div>

    </div>
    <div class="form-group">
            <div class="col-sm-10">
                <label for="end">Chart Types:</label>
                <select data-ng-options="chartType.friendly for chartType in widgetOptions.chartTypes" data-ng-model="widgetOptions.selectedChartType"></select>
            </div>

    </div>
    <div class="form-group">
        <div class="checkbox col-sm-10">
            <label for="end">Auto-Refresh:</label>
            <label><input type="checkbox" ng-model="widgetOptions.refresh"> Refresh On</label>
            <label for="end">Refresh Rate:</label>
            <select data-ng-options="interval.friendly for interval in intervals" data-ng-model="widgetOptions.updateInterval"></select>
        </div>
    </div>

    <div ng-if="widgetOptions.partialSettingTemplateUrl" ng-include="widgetOptions.partialSettingTemplateUrl"></div>
  </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="widgetOptions.cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="widgetOptions.ok()">OK</button>
    <button class="btn" ng-click="downloadCSV()">Downlad CSV</button>
</div>
